
.global-search{
    margin-right: 30px;
}

.cart{
    sup{
        background-color: #ffe637;
        color: #000;
        border-radius: 50%;
        padding: 7px 12px;
        margin-left: 1px;
        position: relative;
        top: -12px;
        font-weight: bold;
        cursor: pointer;
    }
}
